/* .container {
  margin-top: 30px;
} */
h1{
  color: chocolate;
  font-style: italic;
}
.header{
  padding: 20px;
}
.selects {
  display: flex;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit:contain
}
.img {
  width: 50%;
  height: 200px;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center
}
.card {
  border:none;
  margin-bottom: 2%;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  cursor: pointer;
}

.img__block {
  height: 100px
}
.video {
  width: 50%;
  margin:100px auto;
  
}